<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/backstage.css" />
</head>

<body>
    <header>
        <h1>
			<img src="images/back/topLogo.png" alt="logo">
		</h1>
        <ul>
            <li><img src="images/back/topmune_09.png" /><span>更多模板堂产品</span></li>
            <li><img src="images/back/topmune_01.png" /><span>开店导航</span></li>
            <li><img src="images/back/topmune_02.png" /><span>记事本</span></li>
            <li><img src="images/back/topmune_03.png" /><span>刷新</span></li>
            <li><img src="images/back/topmune_04.png" /><span>个人设置</span></li>
            <li><img src="images/back/topmune_05.png" /><span>管理员留言</span></li>
            <li><img src="images/back/topmune_06.png" /><span>查看网店</span></li>
            <li><img src="images/back/topmune_007.png" /><span>帮助</span></li>
            <li><img src="images/back/topmune_07.png" /><span>关于ECSshop</span></li>
            <li><img src="images/back/qingchu.png" /><span>清除缓存</span></li>
            <li><img src="images/back/topmune_08.png" /><span>退出</span></li>
        </ul>
    </header>
    <nav>
        <ul>
            <li><img src="images/back/index-11_07.png" /><span>起始页</span></li>
            <li><img src="images/back/index-11_07.png" /><span>设置导航栏</span></li>
            <li><img src="images/back/index-11_07.png" /><span>商品管理</span><span class="num"></span></li>
            <li><img src="images/back/index-11_07.png" /><span>订单管理</span><span class="num"></span></li>
            <li><img src="images/back/index-11_07.png" /><span>广告管理</span><span class="num"></span></li>
            <li><img src="images/back/index-11_07.png" /><span>用户评论</span><span class="num"></span></li>
            <li class="nobor"><span>商品列表</span></li>
            <li class="nobor"><span>订单列表</span></li>
            <li class="nobor"><span>用户评论</span></li>
            <li class="nobor"><span>会员列表</span></li>
            <li class="nobor"><span>商店设置</span></li>
            <li class="nobor"><span>移动版</span></li>
            <li class="nobor"><span>服务市场</span></li>
        </ul>
    </nav>
    <div id="box">
        <div id="list">
            <div class="top"><a href="#">导航菜单</a></div>
            <ul class="zong">
                <li class="click">
                    商品管理
                </li>
                <ul class="none">
                    <li id="shoplist">商品列表</li>
                    <li id="add">添加新商品</li>
                    <li>商品评价</li>
                    <li>商品评价</li>
                    <li>客户评价</li>
                    <li>商品评价</li>
                </ul>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
                <li>商品管理</li>
            </ul>
        </div>
        <div id="main">
            <h2>
			<span>ECSHOP管理中心</span>
			<span> - 添加商品</span>
			<span><img src="images/back/jnsy.png"/></span>
			<span>商品列表</span>
		</h2>
		<!--                       -->
		<div class="tab2" style="display: block;">
			<div class="tab22" style="display: block;">
  <form action="javascript:searchGoods()" name="searchForm">
    <img src="images/back/search.gif" width="26" height="22" border="0" alt="SEARCH" style="display: inline-block;">
        <!-- 分类 -->
    <select name="cat_id">
		 <option value="0">所有分类</option>
		<option value="132">钻石</option>
		<option value="170">&nbsp;&nbsp;&nbsp;&nbsp;裤子</option>
		<option value="173">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;休闲裤</option>
		<option value="623">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;休闲短裤</option>
		<option value="174">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牛仔裤</option>
		<option value="171">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西裤</option>
		<option value="172">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;牛仔中裤</option>
		<option value="629">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;休闲分裤</option>
		<option value="190">&nbsp;&nbsp;&nbsp;&nbsp;衬衫</option>
		<option value="193">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;短袖衬衫</option>
		<option value="194">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长袖衬衫</option>
		<option value="160">&nbsp;&nbsp;&nbsp;&nbsp;外套</option>

</select>
<!-- 品牌 -->
    <select name="brand_id">
	    <option value="0">所有品牌</option>
	    <option value="44">kk</option>
	    <option value="32">溢彩年华</option>
	    <option value="31">EVENY</option>
	    <option value="30">圣迪奥</option>
	    <option value="29">韩都衣舍</option>
	    <option value="28">betu百图</option>
	    <option value="27">艾夫斯</option>
	</select>
    <!-- 推荐 -->
    <select name="intro_type"><option value="0">全部</option><option value="is_best">精品</option><option value="is_new">新品</option><option value="is_hot">热销</option><option value="is_promote">特价</option><option value="all_type">全部推荐</option></select>
           <!-- 上架 -->
      <select name="is_on_sale"><option value="">全部</option><option value="1">上架</option><option value="0">下架</option></select>
        <!-- 关键字 -->
    关键字 <input type="text" name="keyword" size="15">
    <input type="submit" value=" 搜索 " class="button">
  </form>
</div>
<!--           ====================================== -->
<div class="table0" style="display: block;">
	<table cellpadding="3" cellspacing="1">
			<tr id="brfor">
				<th>
					<input type="checkbox"><a href="#">编号</a>
				</th>
				<th><a href="#">商品名称</a></th>
				<th><a href="#">货号</a></th>
				<th><a href="#">价格</a></th>
				<th><a href="#">上架</a></th>
				<th><a href="#">精品</a></th>
				<th><a href="#">新品</a></th>
				<th><a href="#">热销</a></th>
				<th><a href="#">推荐排序</a></th>
				<th><a href="#">库存</a></th>
				<th><a href="#">虚拟销量</a></th>
				<th><a href="#">操作</a></th>
			</tr>
			

		<tr>
			<td colspan="12">
				<div id="turn-page">
			        总计  <span id="totalRecords">0</span>
			        个记录分为 <span id="totalPages">1</span>
			        页当前第 <span id="pageCurrent">1</span>
			        页，每页 <input type="text" size="3" id="pageSize" value="15">
			          <span id="page-link">
			          <a href="javascript:listTable.gotoPageFirst()">第一页</a>
			          <a href="javascript:listTable.gotoPagePrev()">上一页</a>
			          <a href="javascript:listTable.gotoPageNext()">下一页</a>
			          <a href="javascript:listTable.gotoPageLast()">最末页</a>
			          <select id="gotoPage" onchange="Page()">
			            <option value="1">1</option><option value="2">2</option>         
			          </select>
			        </span>
     			 </div>
			</td>
		</tr>
			
			<!-- <tr>
				<td>
					<input type="checkbox" name="checkboxes[]" value="174">
					174
				</td>
				<td>
					<span>删nmmppap</span>
				</td>
				<td>
					ECS0010174
				</td>
				<td>
					44.00
				</td>
				<td>
					<img src="images/back/yes.gif" alt="">
				</td>
				<td><img src="images/back/yes.gif" alt=""></td>
				<td><img src="images/back/yes.gif" alt=""></td>
				<td><img src="images/back/yes.gif" alt=""></td>
				<td>100</td>
				<td>43</td>
				<td>432</td>
				<td>
					<a href="#"><img src="images/back/icon_view.gif" alt=""></a>
					<a href="#"><img src="images/back/icon_edit.gif" alt=""></a>
					<a href="#"><img src="images/back/icon_copy.gif" alt=""></a>
					<a href="#"><img src="images/back/icon_trash.gif" alt=""></a>
				</td>
			</tr>
			-->
			
	</table>
</div>
	
</div>
<!-- ============= -->

			<!--              -隐藏                  -->
            <div class="tab" style="display: none;">
                <p>
                    <span style="background: #fff">通用信息</span>
                    <span>详细描述</span>
                    <span>其他信息</span>
                    <span>商品属性</span>
                    <span>商品相册</span>
                    <span>关联商品</span>
                    <span>配件</span>
                    <span>关联文章</span>
                </p>
                <div class="tab_01 haha">
                    <ul>
                        <li><span>商品名称</span>
                            <input type="text" id="goods_name" value="" size="30">
                        </li>
                        <li><span><img src="images/back/notice.gif" alt="" />商品货号</span>
                            <input type="text" id="goods_id" />
                            <br /><span id="notice">
						如果你不能输入商品货号,系统将自动生成一个唯一的货号
						
					</span></li>
                        <li><span>商品分类</span>
                            <select name="cat_id" onchange="hideCatDiv()">
                                <option value="0">请选择...</option>
                                <option value="132">钻石</option>
                                <option value="154">&nbsp;&nbsp;&nbsp;&nbsp;内衣</option>
                                <option value="158">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家居服</option>
                                <option value="159">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内裤</option>
                                <option value="156">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;内衣/套装</option>
                                <option value="157">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;袜子</option>
                                <option value="182">&nbsp;&nbsp;&nbsp;&nbsp;POLO衫</option>
                                <option value="188">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;短袖POLO衫</option>
                                <option value="185">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;长袖POLO衫</option>
                                <option value="175">&nbsp;&nbsp;&nbsp;&nbsp;T恤</option>
                            </select>
                            <button>添加分类</button>
                        </li>
                        <li><span>扩展分类</span>
                            <input type="button" value="添加">
                        </li>
                        <li><span>商品品牌</span>
                            <select name="brand_id" onchange="hideBrandDiv()">
                                <option value="0">请选择...</option>
                                <option value="44">kk</option>
                                <option value="32">溢彩年华</option>
                                <option value="31">EVENY</option>
                                <option value="30">圣迪奥</option>
                                <option value="29">韩都衣舍</option>
                                
                            </select>
                            <button>添加品牌</button>
                        </li>
                        <li><span>本店售价</span>
                            <input type="text" id="price" value="0">
                            <input type="button" value="按市场价计算">
                        </li>
                        <li><span><img src="images/back/notice.gif" alt="" />会员价格</span>注册用户
                            <input type="text" value="-1">代销用户
                            <input type="text" value="-1">VIP
                            <input type="text" value="-1">
                            <br><span id="notice">会员价格为-1时表示会员价格按会员等级折扣率计算.你也可以为每个等级制定固定的价格</span></li>
                        <li><span><img src="images/back/notice.gif" alt="" />商品优惠价格</span> <a href="javascript:;">[+]</a>优惠数量
                            <input type="text">优惠价格
                            <input type="text">
                        </li>
                        <li><span>市场售价</span>
                            <input type="text">
                            <input type="button" value="取整数">
                        </li>
                        <li><span>虚拟数量</span>
                            <input type="text" id="xuni">
                        </li>
                        <li><span><img src="images/back/notice.gif" alt="" />赠送消费积分数</span>
                            <input type="text" value="-1">
                            <br><span id="notive">购买该商品时赠送消费积分数,-1表示该商品赠送</span></li>
                        <li><span><img src="images/back/notice.gif" alt="" />赠送消费积分数</span>
                            <input type="text" value="-1">
                            <br><span id="notive">购买该商品时赠送消费积分数,-1表示该商品赠送</span></li>
                        <li><span>赠送等级积分数</span>
                            <input type="text" value="-1">
                            <br><span id="notive"></span></li>
                        <li><span><img src="images/back/notice.gif" alt="" />积分购买金额</span>
                            <input type="text" value="0">
                            <br><span id="notive">(此处需要填写金额)购买该商品时最多可以使用讥讽的数量</span></li>
                        <li>
                            <label for="is_promote">
                                <input type="checkbox" id="is_promote" name="is_promote" value="1"> 促销价：</label>
                            <input type="text">
                        </li>
                        <li><span>促销日期</span>
                            <input name="promote_start_date" type="text" id="promote_start_date" size="12" value="2018-01-16" readonly="readonly">
                            <input name="selbtn1" type="button" id="selbtn1" value="选择" class="button" disabled=""> -
                            <input name="promote_end_date" type="text" id="promote_end_date" size="12" value="2018-02-15" readonly="readonly">
                            <input name="selbtn2" type="button" id="selbtn2" value="选择" class="button" disabled="">
                        </li>
                        <li><span>上传商品图片</span>
                            <input type="file" name="goods_img" size="35">
                            <br>
                            <input type="text" size="40" value="商品图片外部URL" style="color: rgb(0, 0, 0);" onfocus="if (this.value == '商品图片外部URL'){this.value='http://';this.style.color='#000';}" name="goods_img_url" id="goods_url1">
                        </li>
                        <li><span> 上传商品缩略图：</span>
                            <input type="file" name="goods_thumb" size="35" disabled="">
                            <br>
                            <input type="text" size="40" value="商品缩略图外部URL" style="color:#aaa;" onfocus="if (this.value == '商品缩略图外部URL'){this.value='http://';this.style.color='#000';}" name="goods_thumb_url" disabled="" id="goods_url1">
                            <br>
                            <label for="auto_thumb">
                                <input type="checkbox" id="auto_thumb" name="auto_thumb" checked="true" value="1">自动生成商品缩略图</label>
                        </li>
                    </ul>
                </div>
                <div class="tab_02 haha">
                	<textarea name="" id="" cols="120" rows="15"></textarea>
                </div>
                <div class="tab_03 haha">
                	<ul>
                		<li>
				            <span>商品重量：</span>
				            <input type="text" name="goods_weight" value="" size="20"> <select name="weight_unit"><option value="1" selected="">千克</option><option value="0.001">克</option></select>
				          
				        </li>
				                		<li><span><img src="images/back/notice.gif" alt="" />商品库存数量</span>
				                            <input type="text" name="goods_id" id="stock" />
				                            <br /><span id="notice">
										如果你不能输入商品货号,系统将自动生成一个唯一的货号
						
					</span></li>
                		<li>
                			 <span>商品重量：</span>
            <input type="text" name="goods_weight" value="" size="20"> 
                		</li>
                		<li>
                			 <span>商品重量：</span>
                			 <input type="checkbox" name="is_best" value="1">精品
                			 <input type="checkbox" name="is_new" value="1">新品
                			 <input type="checkbox" name="is_hot" value="1">热销
                		</li>
                		<li>
                			<span>上架</span>
                			<input type="checkbox" name="is_no_sale" value="1"> 打勾表示允许销售，否则不允许销售。
                		</li>
                		<li>
                			<span>能作为普通商品销售</span>
                			<input type="checkbox" name="is_no_sale" value="1"> 打勾表示允许作为普通商品销售，否则只能作为配件或赠品销售。
                		</li>
                		<li>
                			<span>是否为免运费商品</span>
                			<input type="checkbox" name="is_no_sale" value="1"> 打勾表示允许作为普通商品销售，否则只能作为配件或赠品销售。
                		</li>
                		<li>
                			<span>商品关键字</span>
                			<input type="text" name="keywords" value="" size="40">用空格分离
                		</li>
						<li>
							<span>商品简单描述：</span>
							<textarea name="goods_brief" cols="40" rows="3"></textarea>
						</li>

                		<li>
                			<span><img src="images/back/notice.gif" alt="" />商品名称</span>
                			<textarea name="seller_note" cols="40" rows="3"></textarea><br>
                			<span style="margin-left: 22%">仅供商家自己看的信息</span>
                		</li>
                	</ul>
                </div>

                <div class="tab_04 haha">
                	<ul>
                		<li>
                			<span><img src="images/back/notice.gif" alt="" />商品名称</span>
  <select name="goods_type" onchange="getAttrList(0)">
	    <option value="0">请选择商品类型</option>
	    <option value="1">书</option>
	    <option value="2">音乐</option>
	    <option value="3">电影</option>
	    <option value="4">手机</option>
	    <option value="5">笔记本电脑</option>
	</select><br>
<span style="margin-left: 22%">请选择商品的所属类型，进而完善此商品的属性</span>
                		</li>
                	</ul>
                </div>



                <div class="tab_05 haha">
                	<ul>
                		<li>
                			 <a href="javascript:;">[+]</a>图片描述
                            <input type="text">
                			上传文件
                            <input type="file" name="goods_img" size="35">	
                            <input type="text" size="40" value="商品图片外部URL" style="color: rgb(0, 0, 0); margin-left: 0" onfocus="if (this.value == '商品图片外部URL'){this.value='http://';this.style.color='#000';}" name="goods_img_url" id="goods_url1">
                        </li>
                    </ul>
                </div>
	                <div class="ok">
	                    <input type="button" value=" 确定 " id="button1"  onclick="Add()">
	          			<input type="reset" value=" 重置 " class="button">
	       			 </div>
                </div>
                
                
            </div>
        </div>
    </div>
</body>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/list.js"></script>

</html>